[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hy = ">=1.0a2"
toolz = "*"
hyrule = "*"

[dev-packages]
black = "*"
pytest = "*"
pyyaml = "*"
twine = "*"

[requires]
python_version = "3"

[scripts]
tests = "pytest -vv"
