[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hy = ">=0.26.0"
toolz = "*"
hyrule = "*"
click = "*"
pyyaml = "*"
toml = "*"
pendulum = "*"
babel = "*"

[dev-packages]
black = "*"
pytest = "*"
pyyaml = "*"
twine = "*"
setuptools = "*"

[requires]
python_version = "3"

[scripts]
tests = "pytest -vv"
